.pieces-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px
}

.pieces-list .pieces-item {
    background-color: var(--card-background-color);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    color: var(--text-main-color);
}

.pieces-item-timestamp {
    margin-top: 5px;
    font-size: 15px;
    opacity: 0.5;
}
.pieces-item-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.pieces-item-image img {
    width: 100%;
}

.pieces-item-buttons {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.pieces-item-buttons button {
    background-color: transparent;
    padding: 1px 5px;
    width: auto;
    height: auto;
    border: 0;
}