.form-input {
    box-sizing: border-box;
    height: auto;
    margin: 10px;
    background-color: #27272A;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--card-border-color);
}

.form-input textarea {
    resize: none;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-main-color);
}
.icon {
    width: auto;
    height: 20px;
    fill: #3a9bc5;
}
.form-input button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.form-input button:hover {
    background-color: rgb(204, 204, 216);
}

.footer-form {
    display: flex;
    justify-content: space-between;
}
.preview {
    display: flex;
    gap: 8px;
    margin: 10px 0px;
    overflow-y: auto;
}

.img-preview-container {
    position: relative;
}

.img-preview-container button {
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}