.form-input {
    box-sizing: border-box;
    height: auto;
    margin: 10px;
    background-color: #27272A;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--card-border-color);
}

textarea {
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-main-color);
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}
button[type="submit"] svg {
    fill: var(--card-background-color);
}
button[type="submit"]:hover {
    background-color: rgb(204, 204, 216);
}

.footer-form {
    display: flex;
    justify-content: space-between;
}
.preview {
    padding: 10px 0;
    display: flex;
    gap: 8px;
    overflow-x: auto;
    overflow-y: visible;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}
/* 滚动条轨道样式 */
.preview::-webkit-scrollbar-track {
    background: transparent; /* 滚动条轨道颜色 */
}
.img-preview-container {
    position: relative;
}
.img-preview-container button {
    box-sizing: border-box;
    display: flex;
    padding: 0;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    position: absolute;
    top: -5px;
    right: -5px;
    justify-content: center;
    align-items: center;
}
.upload {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.upload button {
    background-color: transparent;
    border: none;
}

.upload svg {
    fill: var(--text-main-color);
    stroke-width: 10;
}
.linkInput {
    width: 100%;
    display: none;
    margin-top: 10px;
    border-top: 1px solid var(--card-border-color);
}
.linkInput input {
    color: var(--text-main-color);
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    padding: 5px;
}