@import url('initialization.css');
@import url('form-input.css');
@import url('content.css');
@import url('nav.css');
@import url('editModal.css');
@import url('lightbox.css');
main {
    max-width: 800px;
    margin: 0 auto;
}

body {
    background-color: var(--body-background-color) !important;
}
.icon {
    width: auto;
    height: 20px;
    fill: #ffffff;
}