@import url('initialization.css');
@import url('form-input.css');
@import url('content.css');
@import url('nav.css');
@import url('editModal.css');

main {
    max-width: 800px;
    margin: 0 auto;
}

.modal-content .form-control {
    resize: none;
    height: 150px;
}
body {
    background-color: var(--body-background-color) !important;
}