<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pieces</title>
    <link rel="icon" href="/static/images/avatar.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main>
        <nav>
            <div class="title">Pieces</div>
        </nav>
        <div class="form-input">
            <form action="{{ url_for('add_idea') }}" method="POST" enctype="multipart/form-data" onsubmit="setLocalTimestamp();handleSubmit(event);">
                <textarea name="idea" oninput="autoResize(this)" placeholder="想分享点什么?"></textarea>
                <br>
                <div id="preview" class="preview"></div>
                <input type="hidden" name="local_timestamp" id="localTimestamp">
                <div class="footer-form">
                    <input type="file" id="fileInput" name="files" accept="image/*" multiple onchange="handleFiles(this.files)" style="display: none;">
                    <div class="upload">
                        <button type="button" class="imageUpload" onclick="document.getElementById('fileInput').click();">
                            {{ load_svg('image') | safe }}
                        </button>
                        <button type="button" class="linkUrl" onclick="toggleVisibility()">
                            {{ load_svg('link') | safe }}
                        </button>
                    </div>
                    <button type="submit">
                        {{ load_svg('send') | safe }}
                    </button>
                </div>
                <div class="linkInput">
                    <input type="text" name="link" placeholder="请输入链接" id="linkInput">
                </div>
            </form>
        </div>
        <div class="pieces-list">
            {% for idea in ideas %}
            <div class="pieces-item">
                <div class="pieces-item-content">
                    {% if idea.link %}
                        <div class="link" data-link="{{ idea.link }}">
                            <a href="{{ idea.link }}" target="_blank">{{ load_svg('link') | safe }}来源链接</a>
                        </div>
                    {% endif %}
                    {% if idea.idea %}  <!-- 检查文本是否存在并非空 -->
                    {{ idea.idea }}
                    {% endif %}
                    {% if idea.images %} <!-- 注意这里改为 images, 假设存的是多张图片的列表 -->
                    <div class="pieces-item-image">
                        {% for img in idea.images %}
                        <div class="pieces-image-box">
                            <a href="{{ url_for('uploaded_file', filename=img) }}" data-lightbox="image">
                                <img src="{{ url_for('uploaded_file', filename=img) }}" alt="Image">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="pieces-item-timestamp">
                    {{ idea.timestamp }}
                </div>
                <div class="pieces-item-buttons">
                    <!-- 编辑按钮，触发弹窗 -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal{{ idea.id }}">
                        {{ load_svg('edit') | safe }}
                    </button>
                    <!-- 删除按钮 -->
                    <button type="button" class="btn btn-danger" onclick="deleteIdea('{{ idea.id }}')">
                        {{ load_svg('delete') | safe }}
                    </button>
                </div>
                {% include 'modal.html' %}
            </div>
            {% endfor %}
        </div>
    </main>
    <script src="/static/js/timestampHandling.js"></script>
    <script src="/static/js/formHandling.js"></script>
    <script src="/static/js/ideaDeletion.js"></script>
    <script src="/static/js/modalHandling.js"></script>
    <script src="/static/js/modalControl.js"></script>
    <script src="/static/js/lightbox-plus-jquery.js"></script>    
</body>
</html>
